.menu-content {
    height: -webkit-calc(100% - 64px);
}
.folders-menu {
    height: 50%;
    box-shadow: 0 4px 2px -2px rgba(236, 236, 236, 1);
    margin-bottom:15px;;
}
.workspaces-menu {
    height: 50%;
    box-shadow: 0 4px 2px -2px rgba(236, 236, 236, 1);
}
.workspaces-menu md-button {
    margin-right: 8px;
}