<div class="well">
<div id="control-configuration">
    <header>Configuration</header>
    <hr/>
    <div id="control-configuration-choice">
        <div id="control-configuration-optionals">
            <header>Optionals</header>
            <hr/>
            <ul id="control-list-optionals">

            </ul>
            <header>Substitutes</header>
            <hr/>
            <ul id="control-list-substitutes">

            </ul>
        </div>
    </div>
</div>
    <div id="control-attributes">
        <header>Values</header>
        <hr/>
        <div id="control-attributes-value">
            <ul id="control-list-attributes">

            </ul>
        </div>

    </div>
</div>
