<div class="well">

    <div class="part-header">
        <span class="info">{{# model.optional}}<i class="fa fa-question" title="Is Optional"></i>{{/model.optional}}
        {{#model.substitute}}<i class="fa fa-arrows-h" title="Is Substitute"></i>{{/model.substitute}}
        {{^model.substitute}}<i class="fa fa-certificate" title="Is Nominal"></i>{{/model.substitute}}
            </span>
            {{model.name}}{{model.getName}} < <strong>{{model.number}}{{model.getNumber}}</strong> >
    </div>
    <hr/>
    <div id="part-attributes-list">

    </div>
</div>
