<div class="well">
<div id="control-configuration">
    <header>Configuration</header>
    <hr/>
    <div id="control-configuration-choice">
        <div id="control-configuration-optionals">
            <header>Optionals</header>

            <div id="control-list-optionals">

            </div>
            <hr/>
            <header>Substitutes</header>

            <div id="control-list-substitutes">

            </div>
            <hr/>
        </div>
    </div>
</div>
    <div id="control-attributes">
        <header>Values</header>

        <div id="control-attributes-value">
            <ul id="control-list-attributes">

            </ul>
        </div>
        <hr/>
    </div>
    <input type="text" id="inputBaselineName" placeholder="Name" required="">
    <textarea id="inputBaselineDescription"></textarea>
    <button type="button" class="btn btn-primary" id="create_baseline">Create</button>
</div>
